<!-- Clients Aside -->
<section id="partners">
    <aside class="clients">
		  <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="padding-bottom:30px;">Partners</h2>
                </div>
        <div class="container">
            <div class="row">
				<div class="col-md-3 col-sm-6">
                    <a href="#">  
                    </a>
                </div>
				
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.chameleonjohn.com/">
                        <img src="img/logos/chameleon.png" class="img-responsive img-centered" alt="">
						<div align = "center" style="padding-top:5px;">
						<a href="https://www.chameleonjohn.com/" style="color: #555;"> Promo Codes & Discounts </a>
						</div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.travel-ticker.com/">
                        <img src="img/logos/travel.png" class="img-responsive img-centered" alt="">
						<div align = "center" style="padding-top:5px;">
						<a href="http://www.travel-ticker.com/" style="color: #555;"> Travel Ticker Hotels </a>
						</div>
                    </a>
                </div>
				<div class="col-md-3 col-sm-6">
                    <a href="#">    
                    </a>
                </div>
            </div>
        </div>
    </aside>
</section>
