<!-- Download Section -->
<section id="download" class="bg-light-gray">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Download</h2>
                </div>
		<div class="download-buttons">
				<div align = center>
					<a href='http://www.synfig.org/cms/en/download/'><img src="img/download.jpg" width="500" alt="" ></a>
					<a href='https://gumroad.com/a/327103603' target="_blank"><img src="img/download-dev.jpg" width="500" alt="" ></a>
				</div>
		</div>
	</div>
</section>
