
    <section id="about"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Learn Synfig</h2>
                </div>
            </div>
	    <div class="row" style="padding-bottom:80px;">
		<div class="col-md-1"></div>
		<div class="download-buttons">
				<div align = center>
					<a href='http://wiki.synfig.org/Category:Manual'><button type="btn" name="button" value="Button" class="btn">      READ DOCS      </button></a>
					<a href='https://gumroad.com/a/855913587' target="_blank"><button type="btn" name="button" value="Button" class="btn">TRAINING COURSE</button></a>
				</div>
		</div>
		<div class="col-md-1"></div>
	    </div>
	    <div class="row">
		    <div class="videoWrapper">
			    <iframe tx-attrs="src" width="560" height="315" src="https://www.youtube.com/embed/N8SF_-gJ0_w" frameborder="0" allowfullscreen></iframe>
		    </div>
			<div class="download-buttons">
				<div align = center>
				<h3 class="section-heading" style="padding-bottom:20px;">Get video course in your language</h3>
					<button type="submit">
						<a href='https://gumroad.com/a/855913587'><img src="img/brit-flag.jpg" class="img-responsive img-centered" width="100" alt="" ></a>
					</button>
					<button type="submit">
						<a href='https://gumroad.com/a/253703283'><img src="img/german-flag.jpg" class="img-responsive img-centered" width="100" alt="" ></a>
					</button>
					<button type="submit">
						<a href='https://gumroad.com/a/790574195'><img src="img/franc-flag.jpg" class="img-responsive img-centered" width="100" alt="" ></a>
					</button>
					<button type="submit">
						<a href='https://gumroad.com/a/251933811'><img src="img/russia-flag.jpg" class="img-responsive img-centered" width="100" alt="" ></a>
					</button>
				</div>
		</div>
	    </div>
        </div>
    </section>
