<!-- Clients Aside -->
<section id="partners">
    <aside class="clients">
		<div class="col-lg-12 text-center">
                    <h2 class="section-heading">Partners</h2>
		    <p style="padding-bottom:50px;color: #555;">Here you can find a list of companies who have kindly sponsored development of Synfig.</p>
                </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="margin-bottom:50px;">
                    <a href="https://www.falconliving.com/">
                        <img src="img/logos/falcon-living.png" class="img-responsive img-centered" alt="" style="padding-top:25px;">
		    </a>
		    <div align = "center" style="padding-top:15px;">
		    <a href="https://www.falconliving.com/" style="color: #777;"> Falcon Living Realty</a>
		    </div>
                </div>
		<div class="col-md-4">
                    <a href="http://www.viprealestate.com/">
                        <img src="img/logos/vip-reality.png" class="img-responsive img-centered" alt="VIP Real Estate">
		    </a>
		    <div align = "center" style="padding-top:5px;">
		    <a href="http://www.viprealestate.com/" style="color: #777;"> VIP Real Estate</a>
		    </div>
                </div>
		<div class="col-md-4" style="margin-bottom:50px;">
                    <a href="https://overhemden.com/">
                        <img src="img/logos/overhemden-com.png" class="img-responsive img-centered" alt="overhemden.com - proud sponsor of open source" title="overhemden.com - overhemden online voor heren" style="padding-top:25px;">
		    </a>
		    <div align = "center" style="padding-top:5px;">
		    <a href="https://overhemden.com/" style="color: #777;">Overhemden.com - overhemden online voor heren</a>
		    </div>
                </div>
		
            </div>
        </div>
    </aside>
</section>
