<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
			  <div class="col-md-4">
					<img class = "imgborder" src="img/layers.jpg" width = "200px" height = "200px" alt="">
                    <h4 class="service-heading">Layers</h4>
                    <p class="text-secondary">Synfig supports a multitude of layers of various types; geometric, gradients, filters, distortions, transformations, fractal and a few others.</p>
                </div>
                <div class="col-md-4">
					<img class = "imgborder" src="img/skel-bone.jpg" width = "200px" height = "200px" alt="">
                    <h4 class="service-heading">Bones</h4>
                    <p class="text-secondary">Full-featured bone system allows to create cutout animation using bitmap images or control your vector artwork. The Skeleton Distortion layer allows to apply complex deformations to bitmap artwork.</p>
                </div>
                <div class="col-md-4">
					<img class = "imgborder" src="img/music.jpg" width = "200px" height = "200px" alt="">
                    <h4 class="service-heading">Sound support</h4>
                    <p class="text-secondary">Synfig has basic features for syncing your animation with soundtrack using Sound Layer. Linux users can get all benefits of full-featured audio editors through the JACK integration.</p>
                </div>
            </div>
        </div>
    </section>
