<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Support / Community</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
           <div class="row">
            <!-- Download Section -->
			<div class="download-docs">
				<div align = center>
					<a href='https://github.com/synfig/synfig/issues'><img src="img/bug-track.jpg" width="350" alt="" ></a>
					<a href='http://synfig.org/forums/'><img src="img/forum.jpg" width="350" alt="" ></a>
					<a href='https://lists.sourceforge.net/lists/listinfo/synfig-user'><img src="img/mail-list.jpg" width="350" alt="" ></a>
				</div>
			</div> 
        </div>
        </div>
    </section>
